# Electronya TV Bench Controller board configuration

# Copyright (c) 2018 Electronya

if BOARD_ENYA_TV_BENCH_CTRLR

config BOARD
	default "enya_tv_bench_ctrlr"

config SPI_STM32_INTERRUPT
	default y
	depends on SPI

endif # BOARD_ENYA_TV_BENCH_CTRLR
